<mat-toolbar color="primary">
    <mat-toolbar-row class="main-content">
      <span routerLink="/home">My Library</span>
      <span class="example-spacer">
        <div class="button-row">
          <a mat-button routerLink="/about" class="navbar">About</a>
          <a mat-button routerLink="/todo" class="navbar">Todo</a>
          <a mat-button routerLink="/hero" class="navbar">Hero</a>
          <a mat-button routerLink="/dashboard" class="navbar">Dashboard</a>
        </div>
      </span>
      <div class="button-row">
        <a mat-button routerLink="/login" class="navbar">Login</a>
      </div>
    </mat-toolbar-row>
</mat-toolbar>
