<div
  class="mdl-grid mdl-grid--no-spacing login-container"
  [ngStyle]="{'background-image': 'url(' + photo + ')'}">
  <div class="form-wrapper">
    <form class="login-form">
      <mat-form-field class="login-name">
        <input matInput placeholder="name" name="username" value="" [(ngModel)]="username">
      </mat-form-field>

      <mat-form-field class="login-password">
        <input matInput placeholder="password" name="password" type="password" [(ngModel)]="password">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="onSubmit()">登录</button>
    </form>
  </div>
</div>

