<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<nav>

  <a routerLink="/home" class="navbar">Home</a>
  <!--<a routerLink="/about" class="navbar">About</a>
  <a routerLink="/login" class="navbar">Login</a>
  <a routerLink="/todo" class="navbar">Todo</a>-->
  <a routerLink="/hero" class="navbar">Hero</a>
  <a routerLink="/dashboard" class="navbar">Dashboard</a>
</nav>
<router-outlet></router-outlet>
<app-demo></app-demo>
<app-message></app-message>

